.button {
    @apply px-4 py-2 inline-flex items-center justify-center;
    @apply rounded-ui text-base font-semibold transition-all duration-100;
    @apply focus:ring-[3px] focus:ring-offset-2 focus:ring-offset-gray-700 focus:ring-opacity-50;

    /* Sizing Controls */
    &.small {
        @apply px-4 py-0 h-8 font-normal text-sm focus:ring-2;
    }

    &.large {
        @apply px-5 py-3;
    }

    &.secondary {
        @apply text-gray-50 bg-transparent;

        &:disabled {
            background: transparent !important;
        }
    }

    &:disabled {
        @apply cursor-not-allowed;
    }

    &.square {
        @apply p-0 w-12 h-12;

        &.small {
            @apply w-8 h-8;
        }
    }
}

.primary {
    @apply bg-reviactyl/80 text-gray-50;
    @apply hover:bg-reviactyl/90 active:bg-reviactyl/90 focus:ring-reviactyl focus:ring-opacity-75;

    &.secondary {
        @apply hover:bg-reviactyl active:bg-reviactyl;
    }

    &:disabled {
        @apply bg-reviactyl/75 text-gray-50/60;
    }
}

.text {
    @apply bg-secondary/80 text-gray-50;
    @apply hover:bg-secondary active:bg-secondary focus:ring-secondary focus:ring-opacity-50;

    &.secondary {
        @apply hover:bg-secondary active:bg-secondary
    }

    &:disabled {
        @apply bg-secondary/75 text-gray-50/60;
    }
}

.danger {
    @apply bg-danger/80 text-gray-50;
    @apply hover:bg-danger active:bg-danger focus:ring-danger focus:ring-opacity-75;

    &.secondary {
        @apply hover:bg-danger active:bg-danger;
    }

    &:disabled {
        @apply bg-danger/75 text-gray-50/60;
    }
}

.success {
    @apply bg-success/80 text-gray-50;
    @apply hover:bg-success active:bg-success focus:ring-success focus:ring-opacity-75;

    &.secondary {
        @apply hover:bg-success active:bg-success;
    }

    &:disabled {
        @apply bg-success/75 text-gray-50/60;
    }
}