.stat_block {
    @apply flex items-center rounded-ui shadow-lg relative;
    @apply border border-gray-600;
    @apply px-3 py-2 md:p-3 lg:p-4;

    & > .status_bar {
        @apply w-1 h-full absolute left-0 top-0 rounded-ui sm:hidden;
    }

    & > .icon {
        @apply hidden flex-shrink-0 items-center justify-center rounded-lg shadow-md w-12 h-12;
        @apply transition-colors duration-500;
        @apply sm:flex sm:mr-4;

        & > svg {
            @apply w-6 h-6 m-auto;
        }
    }
}

.terminal {
    @apply flex flex-col w-full min-w-0;

    & .overflows_container {
        @apply -ml-4 sm:ml-0;
        width: calc(100% + 2rem);

        @screen sm {
            @apply w-full;
        }
    }

    & > .container {
        @apply rounded-ui p-1 sm:p-2 !bg-transparent min-h-[16rem] flex-1 font-mono text-sm min-w-0 overflow-hidden;

        & [id] {
            @apply h-full min-w-0;

            &::-webkit-scrollbar-track {
                @apply w-2;
            }

            &::-webkit-scrollbar-thumb {
                @apply bg-gray-900;
            }
        }
    }

    & .command_icon {
        @apply flex items-center top-0 left-0 absolute z-10 select-none h-full px-3 transition-colors duration-100;
    }

    & .command_input {
        @apply relative px-2 bg-transparent text-gray-100 pl-10 pr-4 py-2 w-full font-mono text-sm rounded-ui;
        @apply focus:ring-0 outline-none focus-visible:outline-none;
        @apply border border-gray-600 transition-colors duration-100;
        @apply active:border-gray-500 focus:border-gray-500;
    }
}

.chart_container {
    @apply bg-gray-600 rounded shadow-lg pt-2 border-b-4 border-gray-700 relative;
}
